.box1 {
    background-color: orange;
    width: 100px;
    height: 100px;
}

.box2 {
    background-color: skyblue;
    width: 100px;
    height: 100px;
}

.box3 {
    background-color: tomato;
    width: 100px;
    height: 100px;
}
