.box1 {
    background-color: orange;
    width: 200px;
    height: 200px;
}

.box2 {
    background-color: skyblue;
    width: 200px;
    height: 200px;
    /* position: static; */
    position: relative; /* .box2の位置から */
    top: 30px; /* 上から30px */
    left: 30px; /* 左から30px */
}

.box3 {
    background-color: tomato;
    width: 200px;
    height: 200px;
    position: fixed; /* ブラウザ左上から「box3が固定される前提」 */
    top: 40px; /* 上から40px */
    left: 60px; /* 左から60px */
}

.box4 {
    background-color: green;
    width: 200px;
    height: 200px;
}

.box5 {
    background-color: purple;
    width: 200px;
    height: 200px;
    /* position: static; */
    position: relative;
}

.rect {
    width: 50px;
    height: 20px;
    background-color: lime;
    /* 親box5がstaticであればブラウザ左上から */
    /* position: absolute; */
    /* 親box5がstaticであればブラウザ左上から */
    position: absolute;
    top: 30px;
    left: 10px;
}
